@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothings: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 991px) {
  .container {
    padding: 0 30px;
    max-width: 1000px;
  }
}
@media screen and (min-width: 1171px) {
  .container {
    max-width: 1200px;
  }
}
.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.glide * {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
  -o-transition: opacity 150ms ease, border 300ms ease-in-out;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.btn {
  border-radius: 3px;
  border: none;
  outline: none;
  font-size: 13px;
  line-height: 1;
  padding: 12px 23px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  min-width: 130px;
  text-align: center;
}

@media screen and (min-width: 1171px) {
  .btn {
    padding: 15px 23px;
    font-size: 16px;
    min-width: 154px;
  }
}
.btn--orange {
  color: white;
  background-color: #ff891e;
}

.btn--orange:hover {
  background-color: #ff810f;
}

.btn--tr {
  color: black;
  border: 1px solid black;
  background-color: transparent;
  padding: 11px 23px;
}

@media screen and (min-width: 1171px) {
  .btn--tr {
    padding: 14px 23px;
  }
}
.btn.-fade {
  -webkit-animation: fadein 1s infinite;
  animation: fadein 1s infinite;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
.demo-slider {
  position: relative;
}

.demo-slider__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.1);
  width: 76px;
  height: 85px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: none;
}

@media screen and (min-width: 991px) {
  .demo-slider__arrow {
    display: block;
  }
}
.demo-slider__arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.demo-slider__arrow.-left {
  left: 0;
}

.demo-slider__arrow.-left .demo-slider__arrow-icon {
  left: 25px;
}

.demo-slider__arrow.-right {
  right: 0;
}

.demo-slider__arrow.-right .demo-slider__arrow-icon {
  right: 25px;
}

.demo-slider__arrow-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
}

.demo-slider__slide {
  position: relative;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 0;
}

@media screen and (min-width: 991px) {
  .demo-slider__slide {
    padding: 150px 0;
    min-height: 675px;
  }
}
.demo-slider__picture {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media screen and (min-width: 991px) {
  .demo-slider__picture {
    left: -100px;
  }
}
@media screen and (min-width: 1171px) {
  .demo-slider__picture {
    left: 0;
  }
}
.demo-slider__picture-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (min-width: 991px) {
  .demo-slider__picture-img {
    width: calc(100% + 100px);
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@media screen and (min-width: 1171px) {
  .demo-slider__picture-img {
    width: 100%;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.demo-slider__content {
  position: relative;
  z-index: 2;
  text-align: center;
  white-space: normal;
}

@media screen and (min-width: 991px) {
  .demo-slider__content {
    text-align: left;
    margin-left: 456px;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@media screen and (min-width: 1171px) {
  .demo-slider__content {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    margin-left: 487px;
  }
}
.demo-slider__title {
  font-size: 25px;
  line-height: 1.18;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: -0.002em;
}

@media screen and (min-width: 991px) {
  .demo-slider__title {
    font-size: 35px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1171px) {
  .demo-slider__title {
    font-size: 42px;
    margin-bottom: 20px;
  }
}
.demo-slider__text {
  line-height: 1;
  font-weight: 400;
  margin-bottom: 26px;
  letter-spacing: -0.002em;
  font-size: 18px;
}

@media screen and (min-width: 991px) {
  .demo-slider__text {
    font-size: 22px;
    display: none;
  }
}
@media screen and (min-width: 1171px) {
  .demo-slider__text {
    font-size: 26px;
  }
}
.demo-slider__text.-no-mobile {
  display: none;
}

@media screen and (min-width: 991px) {
  .demo-slider__text.-no-mobile {
    display: block;
  }
}
.demo-slider__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-width: 991px) {
  .demo-slider__actions {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.demo-slider__actions-item {
  margin-right: 0;
}

@media screen and (min-width: 991px) {
  .demo-slider__actions-item {
    margin-right: 18px;
  }
}
@media screen and (min-width: 1171px) {
  .demo-slider__actions-item {
    margin-right: 22px;
  }
}
.demo-slider__actions-item:last-child {
  margin-right: 0;
}

.demo-slider__actions-item.-no-mobile {
  display: none;
}

@media screen and (min-width: 991px) {
  .demo-slider__actions-item.-no-mobile {
    display: block;
  }
}
.demo-slider__previews {
  position: absolute;
  width: 100%;
  bottom: 27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
}

@media screen and (min-width: 991px) {
  .demo-slider__previews {
    bottom: 26px;
  }
}
@media screen and (min-width: 1171px) {
  .demo-slider__previews {
    bottom: 22px;
  }
}
.demo-slider__previews-row {
  display: grid;
  grid-template-columns: repeat(4, 15px);
  justify-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
}

@media screen and (min-width: 991px) {
  .demo-slider__previews-row {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1171px) {
  .demo-slider__previews-row {
    gap: 14px;
  }
}
.d-preview__inner {
  display: none;
}

@media screen and (min-width: 991px) {
  .d-preview__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    height: 100%;
  }
}
@media screen and (min-width: 1171px) {
  .d-preview__inner {
    padding: 6px;
  }
}
.d-preview.-active .d-preview__inner {
  background-color: rgba(0, 0, 0, 0.5);
}

.d-preview.-active .d-preview__dot {
  background-color: #282828;
}

.d-preview__dot {
  width: 15px;
  height: 15px;
  border: 1px solid #282828;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 991px) {
  .d-preview__dot {
    display: none;
  }
}
.d-preview__picture {
  border-radius: 3px;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
  width: 40px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 1171px) {
  .d-preview__picture {
    margin-right: 10px;
    width: 48px;
    height: 55px;
  }
}
.d-preview__picture-img {
  max-width: 100%;
  height: auto;
}

.d-preview__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 4px;
}

@media screen and (min-width: 1171px) {
  .d-preview__content {
    padding-top: 6px;
  }
}
.d-preview__note {
  font-size: 9px;
  line-height: 1;
  margin-bottom: 1px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1171px) {
  .d-preview__note {
    font-size: 11px;
    margin-bottom: 3px;
  }
}
.d-preview__title {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.09em;
  max-height: 205px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1171px) {
  .d-preview__title {
    font-size: 12px;
  }
}
.d-preview.glide__bullet--active {
  background-color: transparent;
}

.d-preview.glide__bullet--active .d-preview__inner {
  background-color: rgba(0, 0, 0, 0.5);
}

.d-preview.glide__bullet--active .d-preview__dot {
  background-color: #282828;
}

.demo {
  min-height: 100vh;
  position: relative;
}

.demo__btn {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #c4cdd6;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.demo__btn.-hidden {
  visibility: hidden;
  opacity: 0;
}

.demo__main {
  position: relative;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.demo__main.-visible {
  visibility: visible;
  opacity: 1;
}