extends ../layouts/default-layout.pug
block content
  .demo
    .demo__btn#btnScreen
      button.btn.btn--orange#demoOpener Начать демонстрацию

    .demo__main#sliderScreen
      .demo-slider
        .demo-slider__arrows
          .demo-slider__arrow.-left
            .demo-slider__arrow-icon
              i.fa-solid.fa-angle-left

          .demo-slider__arrow.-right
            .demo-slider__arrow-icon
              i.fa-solid.fa-angle-right

        .glide

          .demo-slider__arrows(data-glide-el="controls")
            .demo-slider__arrow.-left(data-glide-dir="<")
              .demo-slider__arrow-icon
                i.fa-solid.fa-angle-left
            .demo-slider__arrow.-right(data-glide-dir=">")
              .demo-slider__arrow-icon
                i.fa-solid.fa-angle-right

          .glide__track(data-glide-el="track")
            .glide__slides
              .demo-slider__slide
                picture.demo-slider__picture
                  source(srcset="assets/images/slider_1min.webp" media="(max-width: 990px)" type="image/webp")
                  source(srcset="assets/images/slider_1.webp" media="(min-width: 991px)" type="image/webp")
                  img(src="assets/images/slider_1.jpg" width="640" height="360" alt="").demo-slider__picture-img
                .container
                  .demo-slider__content
                      h2.demo-slider__title Этот текст добавлен для демонстрации на странице
                      p.demo-slider__text.-no-mobile Акция действует с 01.07.18 по 31.07.18
                      p.demo-slider__text Тест на внимательность
                      .demo-slider__actions
                        .demo-slider__actions-item
                          a(href="#").btn.btn--orange Подробнее
                        .demo-slider__actions-item.-no-mobile
                          a(href="#").btn.btn--tr Все акции
              .demo-slider__slide
                picture.demo-slider__picture
                  source(srcset="assets/images/slider_2min.webp" media="(max-width: 990px)" type="image/webp")
                  source(srcset="assets/images/slider_2.webp" media="(min-width: 991px)" type="image/webp")
                  img(src="assets/images/slider_2.jpg" width="640" height="360" alt="").demo-slider__picture-img
                .container
                  .demo-slider__content
                      h2.demo-slider__title Этот текст добавлен для демонстрации на странице
                      p.demo-slider__text.-no-mobile Акция действует с 01.07.18 по 31.07.18
                      p.demo-slider__text Тест на внимательность
                      .demo-slider__actions
                        .demo-slider__actions-item
                          a(href="#").btn.btn--orange Подробнее
                        .demo-slider__actions-item.-no-mobile
                          a(href="#").btn.btn--tr Все акции
              .demo-slider__slide
                picture.demo-slider__picture
                  source(srcset="assets/images/slider_3min.webp" media="(max-width: 990px)" type="image/webp")
                  source(srcset="assets/images/slider_3.webp" media="(min-width: 991px)" type="image/webp")
                  img(src="assets/images/slider_3.jpg" width="640" height="360" alt="").demo-slider__picture-img
                .container
                  .demo-slider__content
                      h2.demo-slider__title Этот текст добавлен для демонстрации на странице
                      p.demo-slider__text.-no-mobile Акция действует с 01.07.18 по 31.07.18
                      p.demo-slider__text Тест на внимательность
                      .demo-slider__actions
                        .demo-slider__actions-item
                          a(href="#").btn.btn--orange Подробнее
                        .demo-slider__actions-item.-no-mobile
                          a(href="#").btn.btn--tr Все акции
              .demo-slider__slide
                picture.demo-slider__picture
                  source(srcset="assets/images/slider_4min.webp" media="(max-width: 990px)" type="image/webp")
                  source(srcset="assets/images/slider_4.webp" media="(min-width: 991px)" type="image/webp")
                  img(src="assets/images/slider_4.jpg" width="640" height="360" alt="").demo-slider__picture-img
                .container
                  .demo-slider__content
                      h2.demo-slider__title Этот текст добавлен для демонстрации на странице
                      p.demo-slider__text.-no-mobile Акция действует с 01.07.18 по 31.07.18
                      p.demo-slider__text Тест на внимательность
                      .demo-slider__actions
                        .demo-slider__actions-item
                          a(href="#").btn.btn--orange Подробнее
                        .demo-slider__actions-item.-no-mobile
                          a(href="#").btn.btn--tr Все акции
       
          .demo-slider__previews
            .container
              .demo-slider__previews-row(data-glide-el="controls[nav]")
                  .d-preview(data-glide-dir="=0")
                    .d-preview__dot
                    .d-preview__inner
                      picture.d-preview__picture
                        source(srcset="assets/images/slider_1pre.webp" type="image/webp")
                        img(src="assets/images/slider_1pre.jpg" width="55" height="45" alt="").d-preview__picture-img
                      .d-preview__content
                        p.d-preview__note Акция действует с 01.07.18
                        h4.d-preview__title Этот текст добавлен для демонстрации на странице

                  .d-preview(data-glide-dir="=1")
                    .d-preview__dot
                    .d-preview__inner
                      picture.d-preview__picture
                        source(srcset="assets/images/slider_2pre.webp" type="image/webp")
                        img(src="assets/images/slider_2pre.jpg" width="55" height="45" alt="").d-preview__picture-img

                      .d-preview__content
                        p.d-preview__note Акция действует с 01.07.18
                        h4.d-preview__title Этот текст добавлен для демонстрации на странице

                  .d-preview(data-glide-dir="=2")
                    .d-preview__dot
                    .d-preview__inner
                      picture.d-preview__picture
                        source(srcset="assets/images/slider_3pre.webp" type="image/webp")
                        img(src="assets/images/slider_3pre.jpg" width="55" height="45" alt="").d-preview__picture-img

                      .d-preview__content
                        p.d-preview__note Акция действует с 01.07.18
                        h4.d-preview__title Этот текст добавлен для демонстрации на странице

                  .d-preview(data-glide-dir="=3")
                    .d-preview__dot
                    .d-preview__inner
                      picture.d-preview__picture
                        source(srcset="assets/images/slider_4pre.webp" type="image/webp")
                        img(src="assets/images/slider_4pre.jpg" width="55" height="45" alt="").d-preview__picture-img

                      .d-preview__content
                        p.d-preview__note Акция действует с 01.07.18
                        h4.d-preview__title Этот текст добавлен для демонстрации на странице

            